---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import Blogpost from '../components/Blogpost.astro';
import { url } from '../utils/url';
import BlogpostCard from "../components/BlogpostCard.astro";

const pageTitle="My Astro Learning Blog" 
const allPosts = await getCollection("blog");
---

<BaseLayout pageTitle={pageTitle}>
  <div class ="blogpost-container">  
    {allPosts.map((post: any) => 
         <BlogpostCard urlTarget={url(`/posts/${post.id}/`)} description={post.data.description} title={post.data.title} imgUrl={post.data.image.url} />)}
  </div>
</BaseLayout>	
</html>

<style>
  .blogpost-container {
    width:fit-content;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
  }
  .blogpost-container > * {
    margin: 5px;
  }
</style>
